/* willdebeast.css */

body {
	  font-size: 13pt;  
	  font-family:OpenSans-light,Arial,Helvetica,Sans-Serif;
	  }

#header {
		height:100px; 
		vertical-align:center
		}
		
.page, .nav {
		font-size:400%
 		}

a:link.page, a:active.page, a:visited.page {
		color:rgb(239,70,55); text-decoration: none;
		}	
a:hover.page {
		color: red; text-decoration: none;
		}	
	
a:link.nav, a:active.nav, a:visited.nav {
		color:rgb(80,80,80); text-decoration: none;
		}

a:hover.nav {
		color: black;
		}
     